@import 'compass/css3/user-interface';

html, body {
	margin: 0;
	min-width: 320px;
	min-height: 100%;

	/* on touch devices only */
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

html {
	/* this makes 1rem = 10px */
	font-size: 62.5%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	color: #222;
	font-size: 200%;

	/* enhances font rendering? */
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

	/* no selection */
	@include user-select(none);

	/* no highlight color on tap */
	-webkit-tap-highlight-color: transparent;
}

p {
	margin: 0;
}

/** box sizing - only use box sizing on containers */
div {
	@include box-sizing(border-box);
}