@import 'normalize';
@import 'compass';
@import 'fonts';
@import 'base';
@import 'mq';

//@import 'sprites';

/** components */
//@import 'buttons';

$default-border-radius: 1rem;

$header-height: 5rem;
$header-padding: $header-height * .2;
$nav-logo-width: 10rem;
$nav-item-size: $header-height - $header-padding * 2;

/** pages */
main {
	padding-top: $header-height;
	height: 100%;
	@include min-normal {
		margin: 0 auto;
		width: $mq-normal;
	}
}

button {
	margin: 0;
	border: 0;
	padding: 0;
	background: transparent;
}

section {
	height: 100%;
	background: #ccc;
	padding-top: .1rem;
}

.hide-text {
	text-indent: -999rem;
}

/** utils */
@mixin triangle($side, $size, $color) {
	border: $size solid transparent;
	border-#{$side}-color: $color;
}

header {
	position: fixed;
	z-index: 1;
	padding: $header-padding;
	background: #fff;
	width: 100%;
	min-width: 320px;
	height: $header-height;
	@include min-normal {
		left: 50%;
		margin-left: -$mq-normal / 2;
		width: $mq-normal;
	}

	.nav-cursor {
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -0.9rem;
		@include triangle(bottom, .9rem, #ccc);
		@include translateX(0);
		@include single-transition(transform .2s);
		@include transform-origin(50%);
	}
}

#nav {
	position: relative;
	height: 100%;

	.nav-item {
		position: absolute;
		display: inline-block;
		width: $nav-item-size;
		height: $nav-item-size;
		line-height: $nav-item-size;
		text-decoration: none;
	}

	.nav-magnifier {
		@extend .hide-text;
		background: url(images/magnifier.svg);
	}

	.nav-logo {
		left: 50%;
		margin-left: -$nav-logo-width / 2;
		width: $nav-logo-width;
		color: #666;
		font-weight: bold;
		font-size: 2.6rem;
		text-align: center;
		text-transform: uppercase;
	}

	.nav-notification {
		@include border-radius(.75rem);
		background-color: #000;
		width: 3.5rem;
		right: $nav-item-size + .5rem;
		color: #fff;
		font-weight: bold;
		font-size: 1.4rem;
		text-align: center;

		&::after {
			content: '';
			position: absolute;
			left: 100%;
			@include triangle(left, .5rem, #000);
			top: 50%;
			margin-top: -.5rem;
		}
	}

	.nav-profile {
		@extend .hide-text;
		right: 0;
		background-image: url(images/uifaces.png);
		background-position: -10px -10px;
	}
}

#home {
	overflow: hidden;

	.challenge-wrapper {
		@include perspective(1000);

		/* fake random */
		&:nth-child(1) .avatar {
			background-position: -40px -10px;
		}
		&:nth-child(2) .avatar {
			background-position: -110px -70px;
		}
	}

	.challenge {
		position: relative;
		margin: 3rem 1.5rem;
		@include transform-style(preserve-3d);
		@include single-transition(transform .3s);

		&.is-details {
			@include rotateY(-180deg);
		}

		.proof {
			position: relative;
			padding-bottom: 100%;

			&.proof-photos {
				.proof-photo  {
					position: absolute;
					width: 100%;
					height: 100%;
					@include translateX(-100%);
					@include backface-visibility(hidden);
					-webkit-user-drag: none;

					&.is-selected {
						@include translateX(0);
					}

					&.is-selected + .proof-photo {
						z-index: 1;
					}

					&.is-selected ~ .proof-photo {
						@include translateX(100%);
					}
				}
			}
		}

		.face {
			@include border-radius();
			width: 100%;
			background: #fff;
			@include backface-visibility(hidden);

			&.face-back {
				@include rotateY(-180deg);
			}
		}

		.face-back {
			position: absolute;
			top: 0;
			height: 100%;

			.content {
				padding-bottom: 4.5rem;
				height: 100%;
			}

			.actions {
				position: absolute;
				bottom: 0;
			}
		}

		.face-front::after {
			content: '';
			position: absolute;
			top: -1rem;
			right: -1rem;
			@include border-radius(50%);
			width: 5rem;
			height: 5rem;
			text-align: center;
			line-height: 5rem;
			font-size: 2.5rem;
			font-weight: bold;
		}

		&.is-todo .face-front::after {
			content: '+';
			background: rgba(#777, .5);
		}

		&.is-done .face-front::after {
			content: '✔';
			color: #fff;
			background: rgba(#000, .7);
		}

		.content {
			padding: 1.5rem;
		}

		.avatar {
			margin-right: .7rem;
			width: 3rem;
			height: 3rem;
			vertical-align: middle;
			background-image: url(images/uifaces.png);
			background-position: -10px -10px;
		}

		.name {
			display: inline-block;
			vertical-align: middle;
			font-size: 75%;
		}

		.body {
			margin-top: 1.5rem;
			line-height: 1.5;
		}

		.action {
			border: .2rem solid #000;
			@include border-radius(.4rem);
			padding: .1rem .3rem;
		}

		.actions {
			@include border-bottom-radius();
			width: 100%;
			height: 4.5rem;
			background: #eee;
			font-size: 0;
			@include backface-visibility(hidden);
			@include translateZ(0);
			// this avoid add button to flicker when rotating challenge

			> button {
				width: 50%;
				height: 100%;
				font-size: 2rem;
			}

			.stats {
				padding-right: 5rem;
			}

			.forward {
				padding-left: 5rem;
			}

			.add {
				position: absolute;
				left: 50%;
				margin-left: -5rem;
				@include border-bottom-radius();
				width: 10rem;
				height: 120%;
				background: #888;
				color: #fff;
				font-size: 2rem;
				@include backface-visibility(hidden);
			}
		}

		.face-back {
			.actions {
				> button {
					font-size: 1.4rem;
					font-weight: bold;
					text-transform: uppercase;
				}
			}
		}

		.close {
			position: absolute;
			top: 1rem;
			right: 1rem;
			color: #ccc;
		}
	}
}