@import 'normalize';
@import 'compass';
@import 'fonts';
@import 'base';
@import 'mq';
//@import 'sprites';

/** components */
//@import 'buttons';

$default-border-radius: 1rem;

$header-height: 5rem;

/** pages */
main {
	padding-top: $header-height;
	height: 100%;
	@include min-normal {
		margin: 0 auto;
		width: $mq-normal;
	}
}

button {
	margin: 0;
	border: 0;
	padding: 0;
	background: transparent;
}

section {
	height: 100%;
	background: #ccc;
	padding-top: .1rem;
}

header {
	position: fixed;
	width: 100%;
	height: $header-height;
	background: #fff;
	z-index: 1;
}

#home {
	.challenge-wrapper {
		@include perspective(1000);

		/* fake random */
		&:nth-child(1) .avatar {
			background-position: -40px -10px;
		}
		&:nth-child(2) .avatar {
			background-position: -110px -70px;
		}
	}

	.challenge {
		position: relative;
		margin: 3rem 1.5rem;
		height: 18rem;
		@include transform-style(preserve-3d);
		@include single-transition(transform .3s);

		&.is-details {
			@include rotateY(-180deg);
		}

		.face {
			position: absolute;
			@include border-radius();
			width: 100%;
			height: 100%;
			background: #fff;
			@include backface-visibility(hidden);

			&.face-back {
				@include rotateY(-180deg);
			}
		}

		.face-front::after {
			content: '';
			position: absolute;
			top: -1rem;
			right: -1rem;
			@include border-radius(50%);
			width: 5rem;
			height: 5rem;
			text-align: center;
			line-height: 5rem;
			font-size: 2.5rem;
			font-weight: bold;
		}

		&.is-todo .face-front::after {
			content: '+';
			background: rgba(#777, .5);
		}

		&.is-done .face-front::after {
			content: '✔';
			color: #fff;
			background: rgba(#000, .7);
		}

		.content {
			padding: 1.5rem;
		}

		.avatar {
			margin-right: .7rem;
			width: 3rem;
			height: 3rem;
			vertical-align: middle;
			background-image: url(images/uifaces.png);
			background-position: -10px -10px;
		}

		.name {
			display: inline-block;
			vertical-align: middle;
			font-size: 75%;
		}

		.body {
			margin-top: 1.5rem;
			line-height: 1.5;
		}

		.action {
			border: .2rem solid #000;
			@include border-radius(.4rem);
			padding: .1rem .3rem;
		}

		.actions {
			position: absolute;
			bottom: 0;
			@include border-bottom-radius();
			width: 100%;
			height: 4.5rem;
			background: #eee;
			font-size: 0;
			@include backface-visibility(hidden);

			> button {
				width: 50%;
				height: 100%;
				font-size: 2rem;
			}

			.stats {
				padding-right: 5rem;
			}

			.forward {
				padding-left: 5rem;
			}

			.add {
				position: absolute;
				left: 50%;
				margin-left: -5rem;
				@include border-bottom-radius();
				width: 10rem;
				height: 120%;
				background: #888;
				color: #fff;
				font-size: 2rem;
				@include backface-visibility(hidden);
			}
		}

		.face-back {
			.actions {
				> button {
					font-size: 1.4rem;
					font-weight: bold;
					text-transform: uppercase;
				}
			}
		}

		.close {
			position: absolute;
			top: 1rem;
			right: 1rem;
			color: #ccc;
		}
	}
}